
body{
    background-color: black;
    display: flex;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    height: 98vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    border-radius: 1.5rem;
    border: 2px solid white;
    box-shadow: 0px 0px 24px -1px rgba(255,255,255,0.3) inset,
    0px 2px 2px 0px rgba(0,0,0,0.12),
    0px 4px 4px 0px rgba(0,0,0,0.12),
    0px 8px 8px 0px rgba(0,0,0,0.12),
    0px 16px 16px 0px rgba(0,0,0,0.12);

}

.main{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    text-align: center;
}

.profilePic{
    height: 12rem;
    width: 12rem;
    background-color: black;
    border-radius: 50%;
    border: 1.5px solid white;
}