*{
    margin: 0;
    padding:  0;
}
/* @media screen and (min-width: 769px) { */
    /* STYLES HERE */
    body{
        font-family: playpen sans ,sans-serif;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 90%;
        /* flex-direction: row; */
        background-color: rgb(0, 0, 0);
        padding-top: 85px;
    }
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 80vw;
        padding-bottom: 2rem;
        border-radius: 1.5rem;
        border: 2px solid white;
      box-shadow: 0px 0px 24px -1px rgba(255,255,255,0.3) inset,
    0px 2px 2px 0px rgba(0,0,0,0.12),
    0px 4px 4px 0px rgba(0,0,0,0.12),
    0px 8px 8px 0px rgba(0,0,0,0.12),
    0px 16px 16px 0px rgba(0,0,0,0.12);
    }
    .dp{
        height: 12rem;
        border-radius: 50%;
        border: 2px solid white;
    }
    #leetcode{
        height: 2.2rem;
        background-color: white;
        border: none;
        border-radius: 0.5rem;
    }
    
    .general-info{
    
        display: flex;
        color: white;
        justify-content: space-around;
        align-items:baseline;
        flex-direction: column;
        margin-top: 2rem;
        /* border: 1px solid white; */
        padding: 10px 0 10px 0;
        flex-wrap: wrap;
    }
    .general-info div{
        font-size: 2rem;
    }
    
    .tiles{
        height: 5.5rem ;
        width: 5.5rem;
        background-color: black;
        border: 1px solid white;
        border : 1px solid white;
        border-radius: 1.2rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .tiles i{
        font-size: 2rem;
    }
    a{
        text-decoration: none;
    }
    .tiles p{
        font-size: 1.2rem;
    }
    .tiles:hover{
        background-color: white;
        color: black;
    }
    .social-handels{
        margin-top: 2rem;
        display: flex;
        flex-wrap:wrap;
        justify-content:space-evenly;
        align-items: center;
        gap: 1rem;
    }
/* } */



@media screen and (min-device-width: 150px) and (max-device-width: 768px) { 
    
    body{
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
        margin-top: 0;
        padding-top:2rem;

    }
    .container{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .dp{
        height: 6rem;
        border-radius: 50%;
        border: 2px solid white;
    }
    .general-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .general-info div{
        text-align: center;
        font-size: 1.3rem;
    }

    #leetcode{
        height: 1.6rem;
        background-color: white;
        border: none;
        border-radius: 0.5rem;
    }
    .tiles{
        padding: 2px;
    }
    

}